body{
    background-color: rgb(34,34,34);
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
}

#header-container{
    margin-top: 20px;
    text-align: center;
}

#headerText{
    font-family: MedievalSharp;
    font-size: 50px;
    color: #fff;
}

#gameTag{
    margin-top: 5px;
    display: block;
    font-size: 15px;
    color: #fff;
}

#game{
    background-color: white;
    font-size: 18px;
    color: #0a0a23;
    margin: 25px auto 10px;
}

#game-display{
    padding: 10px;
    display: grid;
    grid-template-columns: 550px 550px;
}

#game-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
}

#controls,
#image,
#stats{
    padding: 5px;
    color: #0a0a23;
    text-align: center;
}

.item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.weapon-container,
.bag-container{
    border: 1px solid black;
    background-color: #fff;
}

.inventory-text{
    color: #fff;
    background-color: #0a0a23;
    font-size: 13px;
    border: 1px solid black;
    margin: 0;
}

.stick-image,
.dagger-image,
.clawHammer-image,
.sword-image,
.algaeOrb-image,
.fangDart-image,
.poisonBomb-image{
    width: 40px;
    border-radius: 8px;
    margin:5px 1px;
}

.hide{
    display: none !important;
}

#stats{
    background-color: rgb(27, 116, 27);
}

#stats p{
    display: inline;
}

button{
    padding: 3px 5px;
    font-size: 15px;
    font-weight: bold;
}

#monsterStats{
    display: none;
    width: 450px;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
    text-align: center;
}
.stat{
    padding-right: 10px;
    margin: 0;
}

#text{
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    height: 330px;
    line-height: 22px;
}

button{
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}

button:hover{
    background-color: #c77700;
    color: #ffffff;
    background-image: linear-gradient(#dfa922, #c77700);
    border: 3px solid #c77700;

}

#image{
    border: none;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-content: center;
}

.image-style{
    margin: auto;
    display: block;
    width: 470px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@keyframes blinkingFrames {
    0% { filter: 0.00; -webkit-filter: 0.00;  }
    50% { filter: invert(15%) sepia(54%) saturate(6391%) hue-rotate(353deg) brightness(86%) contrast(105%); -webkit-filter: invert(15%) sepia(54%) saturate(6391%) hue-rotate(353deg) brightness(86%) contrast(105%); }
    100% { filter: 0.00; -webkit-filter: 0.00; }
}

.blinking {
    animation-name: blinkingFrames;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
